.navbar {
    box-sizing: border-box; /* Quando não se usa o box-sizing, o padding soma com a altura, porém quando utilizado, ele vai manter a altura em pixels*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/topo.png");
    background-repeat: repeat;
    background-size: 5rem;
    color: var(--font_l);
}

.logo{
    display: flex;
    height: 70px;
}

.nav_btt{
    display: none;
    position: absolute; /* Deixa o ícone acima de tudo */
    top: 1.3rem; /* Posiciona o item no topo (só funciona quanto o position é usado)*/
    right: 1rem; /* Posiciona o item na direita */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
}
.nav_btt .bar{
    height: 3px;
    width: 100%;
    background-color: var(--bar);
    border-radius: 10px;
    transition: 0.5s;
}

.nav_links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav_links li {
    list-style: none;
}

.nav_links a {
    color: var(--font_l);
    text-decoration: none;
    display: block;
    padding: 1.8rem;
    transition: 0.5s;
}

.nav_links a:hover {
    transition: 0.5s;
    background-color: var(--nav_hover);
    color: var(--yellow);
    text-decoration: underline wavy;
    /*
    text-decoration > Estilização do sublinhado
        Syntax:
    text-decoration: none | color (se não especificado, fica como currentColor) | style(solid, double, dotted, dashed, wavy) | line (underline, overline, line-through)

    -Style: solid > Linha sólida / double > Duas linhas / dotted > Linha pontilhada / dashed > Linha riscada / wavy > Linha fica ondulada
    -Line: underline > Sublinhado em baixo / overline > Sublinhado acima / line-through > Sublinha o texto
        * Pode-se usar mais de um ao mesmo tempo
    */
}
.nav_links a:active{
    background-color: var(--nav_active);
}

.dropdown .drop_btt{
    font-size: inherit;
    border: none;
    outline: none;
    /* inherit > Pega do elemento pai */
    background: inherit;
    color: inherit;
    font-family: inherit;
}

.dropdown .drop_btt a:hover{
    background: none;
}
.dropdown .drop_btt:hover{
    background-color: var(--nav_hover);
    transition: 0.5s;
}

.drop_content{
    display: none;
    position: absolute;
    background-color: var(--nav_cont);
    min-width: 100px;
    z-index: 1;
}

.dropdown:hover .drop_content{
    display: block;
}

@media screen and (max-width: 1025px){
    .nav_links{
        font-size: 1.1rem;
        top: 70px;
    }
    .nav_links a:active{
        background-color: var(--nav_hover);
    }
}

@media screen and (max-width: 769px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .logo{
        height: 60px;
        width: 60px;
    }

    .nav_btt{
        display: flex;
    }

    .nav_links{
        display: none;
        width: 100%;

        /* Parte para a animação */
        display: block;
        position: absolute; /*Fica em cima de qualquer outro elemento do site*/
        width: 100%; /*Ocupa toda a tela*/
        top: 60px;
        background: var(--nav);
        z-index: 1000; /*Garante que esse elemento vai ficar por cima dos outros, a não ser que algum elemento possua z-index de 10.000*/
        height: 0;  /*Começa como 0 para a animação funcionar*/
        transition: 0.6s; /*Qualquer mudança de elemento vai ter uma transição de 0.6s*/
        visibility: hidden; /*Para a transição funcionar, o elemento precisa existir, portanto não se pode o display: none, trocando para o visibility: hidden*/
        overflow-y: hidden; 
        /*overflow-y > y = altura
        overflow: hidden > Quando ultrapassa o elemento, ele não fica visível, nesse caso se utiliza para que a animação fique mais fluída, e os elementos só aparecem quando a altura estiver certa para eles (por isso o y) */        
    }

    /*Quando nav tiver a classe active, o menu vai aparecer*/
    .navbar.active .nav_links{
        height: calc(100vh - 60px); 
        /*vh > viewport height = o tamanho da tela
        O espaçamento normal seria = a altura + 60px(definido pelo top), para impedir isso, utiliza-se um cálculo > calc(calculo);
        */
        visibility: visible; /*Visível*/
        overflow-y: auto;
        /*overflow: auto > Cria uma barra de scroll para quando existirem itens fora de vista*/
    }

    /* Deixa a tabela em forma de columa e cobrindo a largura toda da tela */
    .nav_links ul{
        flex-direction: column;
        width: 100%;
    }

    /* Deixar no meio */
    .nav_links li{
        text-align: center;
    }

    .nav_links li a {
        padding: 1rem 1rem;
    }

    /* active > Classe criada no JS */
    .nav_links.active{
        display:flex;
    }

    .nav_links.active .drop_content{
        position: relative;
    }

    .nav_links.active .dropdown .drop_btt{
        width: 100%;
    }

    /* Animação do X */
    #top, #bottom{ /* Colocando o ponto de origem da primeira e ultima linha como na esquerda */
        transform-origin: left;
    }
    
    .navbar.active .nav_btt #center{
        transition: 0.5s;
        opacity: 0; /* Regula a opacidade do elemento */
    }
    .navbar.active .nav_btt #top{
        transition: 0.5s;
        transform: rotate(41deg);
    }
    .navbar.active .nav_btt #bottom{
        transition: 0.5s;
        transform: rotate(-41deg);
    }
}

@media screen and (max-width: 426px){

}